body.index {
/*	background: url(https://images.unsplash.com/photo-1538314267955-133e3dfb3021?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fc13d0c83c29ede9938b482021a8ae97&auto=format&fit=crop&w=2467&q=80);*/
	background: url(https://images.unsplash.com/photo-1517134191118-9d595e4c8c2b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f64af19374484d1e18a6e79a439cff9d&auto=format&fit=crop&w=2550&q=80);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 1600px 1800px;
}

body.about {
	background: url(https://images.unsplash.com/photo-1512229146678-994d3f1e31bf?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=eac4037242690e37769af0cbb3492329&auto=format&fit=crop&w=2549&q=80);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 1600px 1400px;
}

body.contact {
	background: url(https://images.unsplash.com/photo-1538161342383-2ffacf4af0d4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=848609855f6cc64eeee5cc6c298cdc69&auto=format&fit=crop&w=2480&q=80);
	background-position: center;
	background-size: 1400px 1800px;
	text-align: center;
	padding-top: 15%;
}

body.projects {
	margin-top: 70px;
	background: url(https://images.unsplash.com/photo-1521729839347-131a32f9abcb?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cc0b272254b2a429eed2c845f179d853&auto=format&fit=crop&w=2532&q=80);
	padding: 0px 5% 0px 5%;
}

body {
	/*background: url(https://images.unsplash.com/photo-1517134191118-9d595e4c8c2b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f64af19374484d1e18a6e79a439cff9d&auto=format&fit=crop&w=2550&q=80);*/
	background-repeat: no-repeat;
	background-position: center;
	font-family: 'Lato', sans-serif;
	color: white;

}

html {
	height: 100%;
}

#content {
	text-align: center;
	padding-top: 25%;
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
				 0px 8px 14px rgba(0, 0, 0, 0.1),
				 0px 18px 24px rgba(0, 0, 0, 0.1);
}

h1 {
	font-weight: 700;
	font-size: 3em;
}

hr {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

img {
	margin: 20px auto;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.img-link:hover .image {
  opacity: 0.7;
}

.img-link:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
